<!--  
 Name: Daniel Di Clemente
 Course: Enterprise Java Development
 Assignment: Assignment 3
 Date: November 27, 2020
 -->

<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Symphony Used Bikes</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
	th:href="@{https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css}">
<link rel="stylesheet" type="text/css" th:href= "@{/css/main.css}" href="/css/main.css">
</head>
	
<body>
	<nav class="navbar navbar-expand-md navbar-dark bg-dark">
		<a class="navbar-brand" href="/" th:href="@{/}">Symphony Used Bikes</a>
		<button class="navbar-toggler" data-toggle="collapse" data-target = "#navbarMenu">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id = "navbarMenu">
			<ul class="navbar-nav ml-auto">
				<li class="nav-item"><a href="#" th:href="@{/logout}" class="nav-link">Logout</a></li>
				<li class="nav-item"><a href="/secure/insert" th:href="@{/secure/insert}" class="nav-link">Insert</a></li>
				<li class="nav-item"><a href="/secure/update" th:href="@{/secure/update}" class="nav-link">Update</a></li>
				<li class="nav-item"><a href="/secure/delete" th:href="@{/secure/delete}" class="nav-link">Delete</a></li>
			</ul>
		</div>
	</nav>

	<div>
		<h1>Insert Bike</h1>
	</div>
		
		<form method="post" action="#" th:action="@{/secure/insert}"
			th:object="${bike}" class="main-form" id="form">
			
			<input type="hidden" name="bikeId" th:field="*{bikeId}"/>
			
			<div class="form-group">
				<label for="manufacturerId">Manufacturer ID: </label>
				<select th:field="*{manufacturerId}" id="manufacturerId" class="form-control" required>
					<option th:each="m:${manufacturerIdList}" th:value="${m.manufacturerId}" th:text="${m.manufacturerId}"/>
				</select><br>
			</div>
			
			<div class = "form-group">
				<label for = "model">Bike Model: </label>
				<input name = "model" type="text" th:field="*{model}" class = "form-control" required/><br>
			</div>
			
			<div class = "form-group">
			<label for = "year">Year of Bike: </label>
				<input name = "year" type="number" required min = "1900" max="2020" placeholder ="From 1900 - 2020" th:field="*{year}" class = "form-control"/><br>
			</div>
			
			<div class = "form-group">
				<label for = "colour">Bike Colour: </label>
				<input name = "colour" type="text" required th:field="*{colour}" class = "form-control"/><br>
			</div>
			
			<div class = "form-group">
				<label for = "price">Bike Price: </label>
				<input name = "price" type="number" step="0.01" required min="0" th:field="*{price}" class="form-control" placeholder="XXXX.XX"/><br>
			</div>
			
			<div>
				<input type="submit" value="Insert" class = "btn btn-dark"/>
			</div>
		</form>
			<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
			integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
			crossorigin="anonymous"></script>
		<script
			src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
			integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
			crossorigin="anonymous"></script>
		<script
			src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
			integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
			crossorigin="anonymous"></script>
</body>
</html>